body {
/*background:#DDDDDD url(images/gumax_grey.gif) repeat-x scroll left 0;*/
font-size:0.7em;
margin:0;
min-width:700px;
padding:0;
}
body, td, th, input, textarea, pre, h1, h2, h3, h4, h5, h6 {
	color:#222222;
}
body, td, th, input, textarea {
	font-family:Verdana, Arial, 'Trebuchet MS';
}
pre {
	font-family:Monospace, Courier, Arial;
}
#gumax-rbox {
	width:100%;
}
#gumax-wrapper {
	background:transparent none repeat scroll 0 0;
	font-size:110%;
	width:100%;
}
#p-logo, #p-logo a, #p-logo a:hover {
	height:72px;
	width:180px;
}
#p-logo {
	left:10px;
	overflow:visible;
	position:absolute;
	top:20px;
	z-index:200;
}
#p-logo h5 {
	display:none;
}
#p-logo a, #p-logo a:hover {
	background-position:35% 50% !important;
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
}
#gumax-header {
	height:32px;
	margin:0 auto;
	min-height:30px;
	padding:0;
	position:relative;
	z-index:100;
}
#gumax-p-login {
	font-size:90%;
	margin-left:0;
	padding-left:0;
	position:absolute;
	right:0;
	text-transform:none;
	top:7px;
}
#gumax-p-login ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 10px;
	position:relative;
	width:auto;
}
#gumax-p-login ul li {
	color:#EEEEEE;
	display:inline;
	font-size:109%;
	margin:0;
	position:relative;
}
#gumax-p-login ul li a {
	background:transparent url(nav_rrow.gif) no-repeat scroll left 1px;
	padding:2px 0 3px 12px;
}
#gumax-pt-login a {
	font-weight:bold;
}
#gumax-p-search {
	float:right;
}
#gumax-p-search .gumax-pBody, #gumax-searchBody {
	background:transparent none repeat scroll 0 0;
	margin-right:10px;
	padding:0;
	position:relative;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;
}
#gumax-p-search form #searchInput {
	background:#F7F7F7 none repeat scroll 0 0;
	border:1px solid #BBBBBB;
	font-size:100%;
	text-align:left;
	vertical-align:middle;
	width:12em;
}
#gumax-p-search form #searchGoButton, #gumax-p-search form #mw-searchButton {
	color:#555555;
	font-family:Verdana, Sans-serif, Arial;
	font-size:100%;
	margin:0;
	padding:0;
	text-decoration:none;
	vertical-align:middle;
}
#searchGoButton:link, #searchGoButton:visited, #searchGoButton:hover, #searchGoButton:active, #mw-searchButton:link, #mw-searchButton:visited, #mw-searchButton:hover, #mw-searchButton:active {
	cursor:pointer;
}
#gumax-article-picture {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	margin:2px 15px;
	padding:0;
	text-align:left;
}
#gumax-article-picture, #gumax-article-picture a, #gumax-article-picture a:hover {
	background-position:center center;
	background-repeat:no-repeat;
	color:#EEEEEE;
	display:block;
	font-size:102%;
	font-weight:bolder;
	height:148px;
	min-height:148px;
	text-decoration:none;
}
.gumax-portlet h5 {
	display:none;
}
#gumax-p-navigation-wrapper {
	height:22px;
	padding-bottom:5px;
	padding-right:1px;
}
#gumax-p-navigation {
	float:left;
	padding-top:5px;
}
#gumax-p-navigation ul {
	margin:0;
}
#gumax-p-navigation ul li {
	color:#7FBAFF;
	float:left;
	font-size:100%;
	font-weight:normal;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 5px 0 0;
	padding:0;
}
#gumax-p-navigation ul li a {
	font-family:'Trebuchet MS', Georgia, Verdana, Sans-serif, Arial;
	font-weight:bold;
	margin:0;
	padding:4px 9px;
}
* html #gumax-p-navigation ul li a {
	display:block;
	position:relative;
}
#gumax_mainmenu_spacer {
	border-top:1px solid #014DA2;
	height:10px;
	clear: both;
}
#siteNotice {
	background:#FFFFCC none repeat scroll 0 0;
	border:1px solid #FF9933;
	font-size:100%;
	margin:0;
	padding:0.9em;
}
#siteNotice p {
	margin:0;
	padding:0;
}
#siteNotice table {
	background:transparent none repeat scroll 0 0;
	margin:0;
	padding:0;
}
#gumax-content-body {
	margin:0;
	padding:0;
	width:100%;
}
#content {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	clear:both;
	color:black;
	line-height:1.4em;
	margin:0;
	overflow-x:visible;
	padding:0 15px 1.2em;
	position:static;
	z-index:2;
}
.page-Home .firstHeading {
	display:none;
}
#content .firstHeading {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	color:#CC6633;
	display:none;
	font-size:150%;
	font-weight:bolder;
	margin:0;
	padding:1em 0 0;
}
#bodyContent {
	width:100%;
}
div#searchTargetContainer {
	background:white none repeat scroll 0 0;
	left:0;
	overflow-x:visible;
	top:0;
	width:100%;
}
div#searchTarget {
	background:#FEFEFE none repeat scroll 0 0;
	border:1px solid #FFCC00;
	margin:5px;
	padding:10px;
}
div#searchTarget h2 {
	margin-bottom:0.5em;
	padding-top:1em;
}
div#searchTarget a {
	position:relative;
	z-index:300;
}
#toc, .toc, .mw-warning {
	background-color:#F5F5F5;
	border:1px solid #AAAAAA;
	font-size:100%;
	margin-bottom:1.2em;
	padding:0.5em;
}
#toc h2, .toc h2 {
	border:medium none;
	display:inline;
	font-size:110%;
	margin:0;
	padding-right:0.2em;
}
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
	text-align:left;
}
#toc ul, .toc ul {
	list-style-image:none;
	list-style-type:none;
	margin:0;
	padding:0.3em 0 0 0.7em;
	text-align:left;
}
#toc ul ul, .toc ul ul, #toc ul ul ul, .toc ul ul ul {
	margin:0 0 0 0.7em;
}
#toc .tocindent {
	margin-left:1em;
}
#toc .tocline {
	margin-bottom:0;
}
#toc p {
	margin:0;
}
#toc .toctoggle {
	font-size:90%;
}
#toc .editsection {
	font-size:90%;
	margin-top:0.3em;
}
h1, h2 {
	border-bottom:3px solid #EEEEEE;
	margin-top:1.32em;
	padding:0.35em 0.1em 0.3em 0;
}
h3, h4, h5, h6 {
	border-bottom:1px solid #EEEEEE;
	margin-top:1em;
	padding:0.2em 0.1em 0.3em 0;
}
ul {
	list-style-image:url(arrow.gif);
	margin:0.3em 0 0 1.5em;
}
li {
	margin-bottom:0.1em;
	margin-left:0.5em;
	padding:0;
}
#editform {
	width:100%;
}
textarea {
	border:1px solid #3399FF;
	font-size:100%;
	height:600px;
	margin:0;
	padding:2px 0 0 2px;
	width:99%;
}
pre {
	background:#F1FFFF none repeat scroll 0 0;
	border:1px dashed #2F6FAB;
	color:black;
	line-height:1.2em;
	margin:1.1em 0;
	overflow-x:visible;
	padding:1em;
	white-space:pre-wrap;
}
* html pre {
}
.visualClear {
	clear:both;
}
.errorbox, .successbox {
	margin-bottom:1em;
	margin-top:0.2em;
}
#contentSub, #contentSub2 {
	color:#7D7D7D;
	font-size:90%;
	line-height:1.2em;
	margin:0.5em 0 1.4em;
	width:auto;
}
* html div.editsection {
	font-size:90%;
}
.editsection {
	color:#DDDDDD;
	font-size:90%;
	margin-top:1px;
}
.editsection a, .editsection a:visited {
	color:#CC6600;
}
.editsection a:hover {
	color:#FF3300;
}
#catlinks {
	background-color:#F9F9F9;
	border:1px solid #AAAAAA;
	clear:both;
	margin-top:1em;
	padding:0.3em;
}
#catlinks p, .catlinks {
	margin:0;
	padding:0;
}
#gumax-content-actions {
	font-size:102%;
	height:1.5em;
	margin:0.2em 15px 0.7em;
	text-align:left;
	white-space:nowrap;
	line-height:1.5em;
	padding:0;
}
.gumax-content-actions-top {
	border-collapse:collapse;
	border-top:5px solid #EEEEEE;
}
.gumax-content-actions-bottom {
	border-bottom:5px solid #EEEEEE;
	border-collapse:collapse;
}
#gumax-content-actions ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:-1px 0 0 0;
}
#gumax-content-actions ul li {
	display:inline;
	margin: 0.3em 0 0;
	overflow:visible;
}
#gumax-content-actions ul li a {
	font-size:95%;
	padding:0.1em 0.5em 0.2em;
	text-decoration:none;
}
.gumax-firstHeading {
	color:#993333;
	float:left;
	font-size:150%;
	font-weight:bold;
	margin:0.5em 15px 0;
}
.gumax-content-actions-top li#ca-edit {
}
#gumax_footer_spacer {
	background:transparent url(images/three_dot.gif) repeat-x scroll center center;
	height:20px;
}
#gumax-footer {
	color:#ACB2B9;
	font-size:94%;
	margin-left:15px;
	margin-right:15px;
	padding-bottom:3.2em;
	text-align:right;
}
#gumax-footer ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
#gumax-footer ul li {
	color:#BBBBBB;
	display:inline;
	margin:0;
	overflow:visible;
}
#gumax-footer ul li a {
	background:transparent url(nav_rrow.gif) no-repeat scroll left 1px;
	padding:2px 0 2px 12px;
}
#gumax-f-message {
	padding-top:3px;
}
#allmessagestable {
	margin-top:20px;
	max-width:100%;
	table-layout:fixed;
	width:100%;
}
#allmessagestable.left td {
	width:30%;
}
table.imagelist, table.TablePager {
	margin-top:0.3em;
	max-width:100%;
	width:100%;
}
.TablePager td, .TablePager th {
	border:1px solid #777777;
}
.imagelist td, .imagelist th {
	white-space:normal;
}
.imagelist .TablePager_col_links {
	white-space:nowrap;
}
hr {
	background-color:#AAAAAA;
	border:0 none;
	color:#AAAAAA;
	height:1px;
	margin:0.2em 0;
}
input[type="submit"] {
	font-weight:bold;
}
.cc {
	font-size:10%;
	margin:0;
	padding:0.2em 0;
}
html {
	overflow-y:scroll;
}
div.breadcrumbs {
	-moz-border-radius-bottomleft:0.5em;
	-moz-border-radius-bottomright:0.5em;
	-moz-border-radius-topleft:0.5em;
	-moz-border-radius-topright:0.5em;
}
table {
}
* html #preferences {
	width:90%;
}
div#userloginForm form, form#userlogin2 {
	width:500px;
}
.gumax-rbcontentwrap {
	/*background:transparent url(images/gm_shadow_l.png) repeat-y scroll 0 0;*/
}
.gumax-rbcontent {
	/*background:transparent url(images/gm_shadow_r.png) repeat-y scroll right center;*/
}
.gumax-rbcontent {
	padding:0 12px;
}
* html .gumax-rbcontentwrap {
	background:transparent none repeat scroll 0 0;
}
* html .gumax-rbcontent {
	background:transparent none repeat scroll 0 0;
}
* html .gumax-page {
/*	border-left:3px solid #E7E7E7;
	border-right:3px solid #E7E7E7;*/
}
