#column-content {
float:right;
margin:0 0 0.6em -12.2em;
padding:0;
width:100%;
}
#content {
	margin:2.8em 0 0 12.2em;
	padding:0 1em 1.5em;
	position:relative;
	z-index:2;
}
#column-one {
	padding-top:160px;
}
#content {
	background:white none repeat scroll 0 0;
	border-color:#AAAAAA -moz-use-text-color #AAAAAA #AAAAAA;
	border-style:solid none solid solid;
	border-width:1px medium 1px 1px;
	color:black;
	line-height:1.5em;
}
body {
	-x-system-font:none;
	color:black;
	font-family:sans-serif;
	font-size:0.7em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0;
	padding:0;
}
#globalWrapper {
	font-size:127%;
	margin:0;
	padding:0;
	width:100%;
}
.visualClear {
	clear:both;
}
table {
	background-color:white;
	color:black;
	font-size:100%;
}
a {
	background:transparent none repeat scroll 0 0;
	color:#002BB8;
	text-decoration:none;
}
a:link {
	color:#002BB8;
}
a:visited {
	color:#5A3696;
}
a:active {
	color:#A33800;
}
a:hover {
	color:#2E4B6B;
	text-decoration:underline;
}
a.stub {
	color:#A30017;
}
a.new, #p-personal a.new {
	color:#A30017;
}
a.new:visited, #p-personal a.new:visited {
	color:#A30017;
}
img {
	border:medium none;
	vertical-align:middle;
}
p {
	line-height:1.5em;
	margin:0.4em 0 0.5em;
}
p img {
	margin:0;
}
hr {
	background-color:#AAAAAA;
	border:0 none;
	color:#AAAAAA;
	height:1px;
	margin:0.2em 0;
}
h1, h2, h3, h4, h5, h6 {
	background:transparent none repeat scroll 0 0;
	border-bottom:1px solid #AAAAAA;
	color:black;
	font-weight:normal;
	margin:0;
	padding-bottom:0.17em;
	padding-top:0.5em;
}
h1 {
	font-size:188%;
}
h1 .editsection {
	font-size:53%;
}
h2 {
	font-size:150%;
}
h2 .editsection {
	font-size:67%;
}
h3, h4, h5, h6 {
	border-bottom:medium none;
	font-weight:bold;
}
h3 {
	font-size:132%;
}
h3 .editsection {
	font-size:76%;
	font-weight:normal;
}
h4 {
	font-size:116%;
}
h4 .editsection {
	font-size:86%;
	font-weight:normal;
}
h5 {
	font-size:100%;
}
h5 .editsection {
	font-weight:normal;
}
h6 {
	font-size:80%;
}
h6 .editsection {
	font-size:125%;
	font-weight:normal;
}
ul {
	line-height:1.5em;
	list-style-image:url(bullet.gif);
	list-style-type:square;
	margin:0.3em 0 0 1.5em;
	padding:0;
}
ol {
	line-height:1.5em;
	list-style-image:none;
	margin:0.3em 0 0 3.2em;
	padding:0;
}
li {
	margin-bottom:0.1em;
}
dt {
	font-weight:bold;
	margin-bottom:0.1em;
}
dl {
	margin-bottom:0.5em;
	margin-top:0.2em;
}
dd {
	line-height:1.5em;
	margin-bottom:0.1em;
	margin-left:2em;
}
fieldset {
	border:1px solid #2F6FAB;
	line-height:1.5em;
	margin:1em 0;
	padding:0 1em 1em;
}
legend {
	font-size:95%;
	padding:0.5em;
}
form {
	border:medium none;
	margin:0;
}
textarea {
	padding:0.1em;
	width:100%;
}
input.historysubmit {
	cursor:pointer;
	font-size:94%;
	height:1.7em !important;
	margin-left:1.6em;
	padding:0 0.3em 0.3em !important;
}
select {
	vertical-align:top;
}
abbr, acronym, .explain {
	background:transparent none repeat scroll 0 0;
	border-bottom:1px dotted black;
	color:black;
	cursor:help;
}
q {
	font-family:Times, "Times New Roman", serif;
	font-style:italic;
}
code {
	background-color:#F9F9F9;
}
pre {
	background-color:#F9F9F9;
	border:1px dashed #2F6FAB;
	color:black;
	line-height:1.1em;
	padding:1em;
}
#siteSub {
	display:none;
}
#jump-to-nav {
	display:none;
}
#contentSub, #contentSub2 {
	color:#7D7D7D;
	font-size:84%;
	line-height:1.2em;
	margin:0 0 1.4em 1em;
	width:auto;
}
span.subpages {
	display:block;
}
#bodyContent h1, #bodyContent h2 {
	margin-bottom:0.6em;
}
#bodyContent h3, #bodyContent h4, #bodyContent h5 {
	margin-bottom:0.3em;
}
.firstHeading {
	margin-bottom:0.1em;
}
.usermessage {
	background-color:#FFCE7B;
	border:1px solid #FFA500;
	color:black;
	font-weight:bold;
	margin:2em 0 1em;
	padding:0.5em 1em;
	vertical-align:middle;
}
#siteNotice {
	font-size:95%;
	padding:0 0.9em;
	text-align:center;
}
#siteNotice p {
	margin:0;
	padding:0;
}
.error {
	color:red;
	font-size:larger;
}
.errorbox, .successbox {
	border:2px solid;
	color:#000000;
	float:left;
	font-size:larger;
	margin-bottom:2em;
	padding:0.5em 1em;
}
.errorbox {
	background-color:#FFF2F2;
	border-color:red;
}
.successbox {
	background-color:#DDFFDD;
	border-color:green;
}
.errorbox h2, .successbox h2 {
	border:medium none;
	display:inline;
	font-size:1em;
	font-weight:bold;
	margin:0 0.5em 0 0;
}
#catlinks {
	background-color:#F9F9F9;
	border:1px solid #AAAAAA;
	clear:both;
	margin-top:1em;
	padding:5px;
}
.documentDescription {
	display:block;
	font-weight:bold;
	line-height:1.5em;
	margin:1em 0;
}
.documentByLine {
	clear:both;
	color:#76797C;
	font-size:90%;
	font-weight:normal;
	text-align:right;
}
.center {
	text-align:center;
	width:100%;
}
.center * {
	margin-left:auto;
	margin-right:auto;
}
.small, .small * {
	font-size:94%;
}
table.small {
	font-size:100%;
}
#toc, .toc, .mw-warning {
	background-color:#F9F9F9;
	border:1px solid #AAAAAA;
	font-size:95%;
	padding:5px;
}
#toc h2, .toc h2 {
	border:medium none;
	display:inline;
	font-size:100%;
	font-weight:bold;
	padding:0;
}
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
	text-align:center;
}
#toc ul, .toc ul {
	list-style-image:none;
	list-style-type:none;
	margin-left:0;
	padding-left:0;
	text-align:left;
}
#toc ul ul, .toc ul ul {
	margin:0 0 0 2em;
}
#toc .toctoggle, .toc .toctoggle {
	font-size:94%;
}
.mw-warning {
	margin-left:50px;
	margin-right:50px;
	text-align:center;
}
div.floatright, table.floatright {
	border:0 none;
	clear:right;
	float:right;
	margin:0 0 0.5em 0.5em;
	position:relative;
}
div.floatright p {
	font-style:italic;
}
div.floatleft, table.floatleft {
	border:0 none;
	clear:left;
	float:left;
	margin:0 0.5em 0.5em 0;
	position:relative;
}
div.floatleft p {
	font-style:italic;
}
div.thumb {
	border-color:white;
	border-style:solid;
	margin-bottom:0.5em;
	width:auto;
}
div.thumbinner {
	background-color:#F9F9F9;
	border:1px solid #CCCCCC;
	font-size:94%;
	overflow:hidden;
	padding:3px !important;
	text-align:center;
}
html .thumbimage {
	border:1px solid #CCCCCC;
}
html .thumbcaption {
	border:medium none;
	font-size:94%;
	line-height:1.4em;
	padding:3px !important;
	text-align:left;
}
div.magnify {
	background:transparent none repeat scroll 0 0 !important;
	border:medium none !important;
	float:right;
}
div.magnify a, div.magnify img {
	background:transparent none repeat scroll 0 0 !important;
	border:medium none !important;
	display:block;
}
div.tright {
	border-width:0.5em 0 0.8em 1.4em;
	clear:right;
	float:right;
}
div.tleft {
	border-width:0.5em 1.4em 0.8em 0;
	clear:left;
	float:left;
	margin-right:0.5em;
}
img.thumbborder {
	border:1px solid #DDDDDD;
}
.hiddenStructure {
	display:none;
}
table.rimage {
	float:right;
	margin-bottom:1em;
	margin-left:1em;
	position:relative;
	text-align:center;
}
.toccolours {
	background-color:#F9F9F9;
	border:1px solid #AAAAAA;
	font-size:95%;
	padding:5px;
}
div.townBox {
	background:white none repeat scroll 0 0;
	border:1px solid gray;
	clear:right;
	float:right;
	margin-left:1em;
	overflow:hidden;
	padding:0.3em;
	position:relative;
	width:200px;
}
div.townBox dl {
	font-size:96%;
	margin:0 0 0.3em;
	padding:0;
}
div.townBox dl dt {
	background:transparent none repeat scroll 0 0;
	margin:0.4em 0 0;
}
div.townBox dl dd {
	background-color:#F3F3F3;
	margin:0.1em 0 0 1.1em;
}
.special li {
	line-height:1.4em;
	margin:0;
	padding:0;
}
.autocomment {
	color:gray;
}
#pagehistory span.user {
	margin-left:1.4em;
	margin-right:0.4em;
}
#pagehistory span.minor {
	font-weight:bold;
}
#pagehistory li {
	border:1px solid white;
}
#pagehistory li.selected {
	background-color:#F9F9F9;
	border:1px dashed #AAAAAA;
}
#bodyContent a.external, #bodyContent a[href^="gopher://"] {
background:transparent url(external.png) no-repeat scroll right center;
padding-right:13px;
}
#bodyContent a[href^="https://"], .link-https {
background:transparent url(lock_icon.gif) no-repeat scroll right center;
padding-right:16px;
}
#bodyContent a[href^="mailto:"], .link-mailto {
background:transparent url(mail_icon.gif) no-repeat scroll right center;
padding-right:18px;
}
#bodyContent a[href^="news://"] {
background:transparent url(news_icon.png) no-repeat scroll right center;
padding-right:18px;
}
#bodyContent a[href^="ftp://"], .link-ftp {
background:transparent url(file_icon.gif) no-repeat scroll right center;
padding-right:18px;
}
#bodyContent a[href^="irc://"], .link-irc {
background:transparent url(discussionitem_icon.gif) no-repeat scroll right center;
padding-right:18px;
}
#bodyContent a.external[href$=".ogg"], #bodyContent a.external[href$=".OGG"], #bodyContent a.external[href$=".mid"], #bodyContent a.external[href$=".MID"], #bodyContent a.external[href$=".midi"], #bodyContent a.external[href$=".MIDI"], #bodyContent a.external[href$=".mp3"], #bodyContent a.external[href$=".MP3"], #bodyContent a.external[href$=".wav"], #bodyContent a.external[href$=".WAV"], #bodyContent a.external[href$=".wma"], #bodyContent a.external[href$=".WMA"], .link-audio {
background:transparent url(audio.png) no-repeat scroll right center;
padding-right:13px;
}
#bodyContent a.external[href$=".ogm"], #bodyContent a.external[href$=".OGM"], #bodyContent a.external[href$=".avi"], #bodyContent a.external[href$=".AVI"], #bodyContent a.external[href$=".mpeg"], #bodyContent a.external[href$=".MPEG"], #bodyContent a.external[href$=".mpg"], #bodyContent a.external[href$=".MPG"], .link-video {
background:transparent url(video.png) no-repeat scroll right center;
padding-right:13px;
}
#bodyContent a.external[href$=".pdf"], #bodyContent a.external[href$=".PDF"], #bodyContent a.external[href*=".pdf#"], #bodyContent a.external[href*=".PDF#"], #bodyContent a.external[href*=".pdf?"], #bodyContent a.external[href*=".PDF?"], .link-document {
background:transparent url(document.png) no-repeat scroll right center;
padding-right:12px;
}
#bodyContent a.extiw, #bodyContent a.extiw:active {
	background:transparent none repeat scroll 0 0;
	color:#3366BB;
	padding:0;
}
#bodyContent a.external {
	/*color:#3366BB;*/
}
#bodyContent .plainlinks a {
	background:transparent none repeat scroll 0 0 !important;
	padding:0 !important;
}
.portlet {
	border:medium none;
	float:none;
	margin:0 0 0.5em;
	overflow:hidden;
	padding:0;
	width:11.6em;
}
.portlet h4 {
	font-size:95%;
	font-weight:normal;
	white-space:nowrap;
}
.portlet h5 {
	background:transparent none repeat scroll 0 0;
	display:inline;
	font-size:91%;
	font-weight:normal;
	height:1em;
	padding:0 1em 0 0.5em;
	text-transform:lowercase;
	white-space:nowrap;
}
.portlet h6 {
	background:#FFAE2E none repeat scroll 0 0;
	border-color:#2F6FAB;
	border-style:solid solid none;
	border-width:1px;
	display:block;
	font-size:1em;
	font-weight:normal;
	height:1.2em;
	padding:0 1em;
	text-transform:lowercase;
	white-space:nowrap;
}
.pBody {
	background-color:white;
	border:1px solid #AAAAAA;
	border-collapse:collapse;
	color:black;
	font-size:95%;
	padding:0 0.8em 0.3em 0.5em;
}
.portlet h1, .portlet h2, .portlet h3, .portlet h4 {
	margin:0;
	padding:0;
}
.portlet ul {
	font-size:95%;
	line-height:1.5em;
	list-style-image:url(bullet.gif);
	list-style-type:square;
}
.portlet li {
	margin:0;
	padding:0;
}
#p-logo {
	height:155px;
	left:0;
	overflow:visible;
	position:absolute;
	top:0;
	width:12em;
	z-index:3;
}
#p-logo h5 {
	display:none;
}
#p-logo a, #p-logo a:hover {
	background-position:35% 50% !important;
	background-repeat:no-repeat;
	display:block;
	height:155px;
	text-decoration:none;
	width:12.2em;
}
#p-navigation {
	position:relative;
	z-index:3;
}
#p-navigation a {
	display:block;
}
#p-navigation li.active a, #p-navigation li.active a:hover {
	display:inline;
}
#p-navigation .pBody {
	padding-right:0;
}
#p-navigation li.active a, #p-navigation li.active a:hover {
	font-weight:bold;
	text-decoration:none;
}
#p-search {
	position:relative;
	z-index:3;
}
input.searchButton {
	font-size:95%;
	margin-top:1px;
}
#searchGoButton {
	font-weight:bold;
	padding-left:0.5em;
	padding-right:0.5em;
}
#searchInput {
	font-size:95%;
	margin:0;
	width:10.9em;
}
#p-search .pBody {
	padding:0.5em 0.4em 0.4em;
	text-align:center;
}
#p-personal {
	left:0;
	position:absolute;
	top:0;
	z-index:0;
}
#p-personal {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	line-height:1.2em;
	margin:0;
	overflow:visible;
	padding:0;
	white-space:nowrap;
	width:100%;
}
#p-personal h5 {
	display:none;
}
#p-personal .portlet, #p-personal .pBody {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	margin:0;
	overflow:visible;
	padding:0;
	z-index:0;
}
#p-personal ul {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	color:#2F6FAB;
	cursor:default;
	line-height:1.4em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0 2em 0 3em;
	text-align:right;
	z-index:0;
}
#p-personal li {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	color:#2F6FAB;
	display:inline;
	line-height:1.2em;
	margin-left:1em;
	padding:0;
	z-index:0;
}
#p-personal li a {
	background:transparent none repeat scroll 0 0;
	color:#005896;
	padding-bottom:0.2em;
	text-decoration:none;
}
#p-personal li a:hover {
	background-color:white;
	padding-bottom:0.2em;
	text-decoration:none;
}
#p-personal li.active a:hover {
	background-color:transparent;
}
li#pt-userpage, li#pt-anonuserpage, li#pt-login {
	background:transparent url(user.gif) no-repeat scroll left top;
	padding-left:20px;
	text-transform:none;
}
#p-personal ul {
	text-transform:lowercase;
}
#p-personal li.active {
	font-weight:bold;
}
#p-cactions {
	background:transparent none repeat scroll 0 0;
	border-collapse:collapse;
	font-size:95%;
	left:11.5em;
	line-height:1.1em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	overflow:visible;
	padding-left:1em;
	position:absolute;
	top:1.3em;
	white-space:nowrap;
	width:76%;
}
#p-cactions ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
#p-cactions li {
	background:white none repeat scroll 0 0;
	border-color:#AAAAAA #AAAAAA -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	display:inline;
	margin:0 0.3em 0 0;
	overflow:visible;
	padding:0 0 0.1em;
}
#p-cactions li.selected {
	border-color:#FABD23;
	font-weight:bold;
	padding:0 0 0.2em;
}
#p-cactions li a {
	background-color:#FBFBFB;
	border:medium none;
	color:#002BB8;
	margin:0;
	padding:0 0.8em 0.3em;
	position:relative;
	text-decoration:none;
	z-index:0;
}
#p-cactions li.selected a {
	background-color:white;
	padding:0 1em 0.2em !important;
	z-index:3;
}
#p-cactions .new a {
	color:#BA0000;
}
#p-cactions li a:hover {
	background-color:white;
	text-decoration:none;
	z-index:3;
}
#p-cactions h5 {
	display:none;
}
#p-cactions li.istalk {
	margin-right:0;
}
#p-cactions li.istalk a {
	padding-right:0.5em;
}
#p-cactions #ca-addsection a {
	padding-left:0.4em;
	padding-right:0.4em;
}
li#ca-talk {
	margin-right:1.6em;
}
li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print {
	margin-left:1.6em;
}
#p-cactions .pBody {
	background-color:transparent;
	border:0 none;
	border-collapse:inherit;
	color:inherit;
	font-size:1em;
	padding:0;
}
#p-cactions .hiddenStructure {
	display:none;
}
#p-cactions li a {
	text-transform:lowercase;
}
#p-tbx, #p-lang {
	position:relative;
	z-index:3;
}
#t-ispermalink, #t-iscite {
	color:#ACB2B9;
}
#footer {
	background-color:white;
	border-bottom:1px solid #FABD23;
	border-top:1px solid #FABD23;
	font-size:90%;
	margin:0.6em 0 1em;
	padding:0.4em 0 1.2em;
	text-align:center;
}
#footer li {
	display:inline;
	margin:0 1.3em;
}
#f-poweredbyico, #f-copyrightico {
	margin:0 8px;
	position:relative;
	top:-2px;
}
#f-poweredbyico {
	float:right;
	height:1%;
}
#f-copyrightico {
	float:left;
	height:1%;
}
#preftoc {
	clear:both;
	margin:0;
	padding:0;
	width:100%;
}
#preftoc li {
	background-color:#F0F0F0;
	color:#000000;
}
#preftoc li {
	border-color:#FFFFFF #716F64 -moz-use-text-color #FFFFFF;
	border-style:solid solid none;
	border-width:1px 1px 0;
	float:left;
	list-style-image:none;
	list-style-type:none;
	margin:1px -2px 1px 2px;
	padding:2px 0 3px;
	position:relative;
	white-space:nowrap;
	z-index:3;
}
#preftoc li.selected {
	background-color:#F9F9F9;
	border-color:#AAAAAA #AAAAAA -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	cursor:default;
	font-weight:bold;
	margin-right:-3px;
	padding-top:2px;
	top:1px;
}
#preftoc > li.selected {
	top:2px;
}
#preftoc a, #preftoc a:active {
	color:#000000;
	display:block;
	padding:0 0.7em;
	position:relative;
	text-decoration:none;
}
#preftoc li.selected a {
	cursor:default;
	text-decoration:none;
}
#prefcontrol {
	clear:both;
	padding-top:2em;
}
#preferences {
	background-color:#F9F9F9;
	border:1px solid #AAAAAA;
	clear:both;
	margin:0;
	padding:1.5em;
}
.prefsection {
	border:medium none;
	margin:0;
	padding:0;
}
.prefsection fieldset {
	border:1px solid #AAAAAA;
	float:left;
	margin-right:2em;
}
.prefsection legend {
	font-weight:bold;
}
.prefsection table, .prefsection legend {
	background-color:#F9F9F9;
}
.mainLegend {
	display:none;
}
div.prefsectiontip {
	color:#666666;
	font-size:x-small;
	padding:0.2em 2em;
}
.btnSavePrefs {
	font-weight:bold;
	padding-left:0.3em;
	padding-right:0.3em;
}
.preferences-login {
	clear:both;
	margin-bottom:1.5em;
}
.prefcache {
	font-size:90%;
	margin-top:2em;
}
div#userloginForm form, div#userlogin form#userlogin2 {
	background-color:#F9F9F9;
	border:1px solid #AAAAAA;
	clear:both;
	float:left;
	margin:0 3em 1em 0;
	padding:1.5em 2em;
}
div#userloginForm table, div#userlogin form#userlogin2 table {
	background-color:#F9F9F9;
}
div#userloginForm h2, div#userlogin form#userlogin2 h2 {
	padding-top:0;
}
div#userlogin .captcha, div#userloginForm .captcha {
	background-color:white;
	border:1px solid #BBBBBB;
	padding:1.5em 2em;
}
#userloginprompt, #languagelinks {
	font-size:85%;
}
#login-sectiontip {
	font-size:85%;
	line-height:1.2;
	padding-top:2em;
}
#userlogin .loginText, #userlogin .loginPassword {
	width:12em;
}
#userloginlink a, #wpLoginattempt, #wpCreateaccount {
	font-weight:bold;
}
* > html #p-cactions li {
	border:medium none;
}
* > html #p-cactions li a {
	border-color:#AAAAAA #AAAAAA -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
}
* > html #p-cactions li.selected a {
	border-color:#FABD23;
}
* > html #f-poweredbyico, * > html #f-copyrightico {
	width:88px;
}
* > html #bodyContent, * > html #bodyContent pre {
	overflow-x:auto;
	padding-bottom:25px;
	width:100%;
}
* html #footer {
	margin-top:0;
}
* html #column-content {
	display:inline;
	margin-bottom:0;
}
* html div.editsection {
	font-size:smaller;
}
#pagehistory li.selected {
	position:relative;
}
* > html #column-content {
	float:none;
}
* > html #column-one {
	left:0;
	position:absolute;
	top:0;
}
* > html #footer {
	margin-left:13.2em;
}
.redirectText {
	font-size:150%;
	margin:5px;
}
.printfooter {
	display:none;
}
.not-patrolled {
	background-color:#FFFFAA;
}
div.patrollink {
	font-size:75%;
	text-align:right;
}
span.newpage, span.minor, span.searchmatch, span.bot {
	font-weight:bold;
}
span.unpatrolled {
	color:red;
	font-weight:bold;
}
span.searchmatch {
	color:red;
}
.sharedUploadNotice {
	font-style:italic;
}
span.updatedmarker {
	background-color:#00FF00;
	color:black;
}
table.gallery {
	background-color:white;
	border:1px solid #CCCCCC;
	margin:2px;
	padding:2px;
}
table.gallery tr {
	vertical-align:top;
}
table.gallery td {
	background-color:#F9F9F9;
	border:2px solid white;
	vertical-align:top;
}
table.gallery td.galleryheader {
	font-weight:bold;
	text-align:center;
}
table.gallery caption {
	font-weight:bold;
}
div.gallerybox {
	margin:2px;
}
div.gallerybox div.thumb {
	border:1px solid #CCCCCC;
	margin:2px;
	text-align:center;
}
div.gallerytext {
	font-size:94%;
	overflow:hidden;
	padding:2px 4px;
}
span.comment {
	font-style:italic;
}
span.changedby {
	font-size:95%;
}
.previewnote {
	border-bottom:1px solid #AAAAAA;
	color:#CC0000;
	margin-bottom:1em;
	padding-bottom:1em;
	text-indent:3em;
}
.previewnote p {
	margin:0;
	padding:0;
}
.editExternally {
	background-color:#FFFFFF;
	border:1px solid gray;
	float:left;
	font-size:small;
	margin-top:0.5em;
	padding:3px;
	text-align:center;
}
.editExternallyHelp {
	color:gray;
	font-style:italic;
}
li span.deleted, span.history-deleted {
	color:#888888;
	font-style:italic;
	text-decoration:line-through;
}
.toggle {
	margin-left:2em;
	text-indent:-2em;
}
table.mw_metadata {
	font-size:0.8em;
	margin-bottom:0.5em;
	margin-left:0.5em;
	width:300px;
}
table.mw_metadata caption {
	font-weight:bold;
}
table.mw_metadata th {
	font-weight:normal;
}
table.mw_metadata td {
	padding:0.1em;
}
table.mw_metadata {
	border:medium none;
	border-collapse:collapse;
}
table.mw_metadata td, table.mw_metadata th {
	border:1px solid #AAAAAA;
	padding-left:0.1em;
	padding-right:0.1em;
	text-align:center;
}
table.mw_metadata th {
	background-color:#F9F9F9;
}
table.mw_metadata td {
	background-color:#FCFCFC;
}
table.collapsed tr.collapsable {
	display:none;
}
ul#filetoc {
	background-color:#F9F9F9;
	border:1px solid #AAAAAA;
	font-size:95%;
	margin-bottom:0.5em;
	margin-left:0;
	margin-right:0;
	padding:5px;
	text-align:center;
}
#filetoc li {
	display:inline;
	list-style-type:none;
	padding-right:2em;
}
input#wpSummary {
	width:80%;
}
input#wpSave, input#wpDiff {
	margin-right:0.33em;
}
#editform .editOptions {
	display:inline;
}
#wpSave {
	font-weight:bold;
}
table.revisionform_default {
	border:1px solid #000000;
}
table.revisionform_focus {
	background-color:#00BBFF;
	border:1px solid #000000;
}
tr.revision_tr_default {
	background-color:#EEEEEE;
}
tr.revision_tr_first {
	background-color:#DDDDDD;
}
p.revision_saved {
	color:green;
	font-weight:bold;
}
#mw_trackbacks {
	background-color:#EEEEFF;
	border:1px solid #BBBBFF;
	padding:0.2em;
}
#allmessagestable th {
	background-color:#B2B2FF;
}
#allmessagestable tr.orig {
	background-color:#FFE2E2;
}
#allmessagestable tr.new {
	background-color:#E2FFE2;
}
#allmessagestable tr.def {
	background-color:#F0F0FF;
}
div.noarticletext {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	color:#000000;
	padding:0.2em 1em;
}
div#searchTargetContainer {
	background:white none repeat scroll 0 0;
	left:10px;
	top:10px;
	width:90%;
}
div#searchTarget {
	background:#F0F0F0 none repeat scroll 0 0;
	border:1px solid blue;
	margin:5px;
	padding:3px;
}
div#searchTarget ul li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
div#searchTarget ul li:before {
	color:orange;
	content:"» ";
}
div.multipageimagenavbox {
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	background:#F0F0F0 none repeat scroll 0 0;
	border:1px solid silver;
	margin:1em;
	padding:4px;
}
div.multipageimagenavbox div.thumb {
	border:medium none;
	margin-left:2em;
	margin-right:2em;
}
div.multipageimagenavbox hr {
	margin:6px;
}
table.multipageimage td {
	text-align:center;
}
table#sv-ext, table#sv-hooks {
	margin:1em;
	padding:0;
}
#sv-ext td, #sv-hooks td, #sv-ext th, #sv-hooks th {
	border:1px solid #A0A0A0;
	padding:0 0.15em;
}
#sv-ext th, #sv-hooks th {
	background-color:#F0F0F0;
	color:black;
	padding:0 0.15em;
}
tr.sv-space {
	border:medium none;
	height:0.8em;
}
tr.sv-space td {
	display:none;
}
.TablePager_nav a {
	text-decoration:none;
}
.TablePager {
	border-collapse:collapse;
}
.TablePager, .TablePager td, .TablePager th {
	border:1px solid #AAAAAA;
	padding:0 0.15em;
}
.TablePager th {
	background-color:#EEEEFF;
}
.TablePager td {
	background-color:#FFFFFF;
}
.TablePager tr:hover td {
	background-color:#EEEEFF;
}
.imagelist td, .imagelist th {
	white-space:nowrap;
}
.imagelist .TablePager_col_links {
	background-color:#EEEEFF;
}
.imagelist .TablePager_col_img_description {
	white-space:normal;
}
.imagelist th.TablePager_sort {
	background-color:#CCCCFF;
}
.templatesUsed {
	margin-top:1.5em;
}
.mw-summary-preview {
	margin:0.1em 0;
}
p.mw-ipb-conveniencelinks {
	float:right;
	font-size:90%;
}
div.mw-lag-warn-normal, div.mw-lag-warn-high {
	margin:3px auto;
	padding:3px;
	text-align:center;
}
div.mw-lag-warn-normal {
	background-color:#FFFFCC;
	border:1px solid #FFCC66;
}
div.mw-lag-warn-high {
	background-color:#FFCCCC;
	border:2px solid #FF0033;
	font-weight:bold;
}
div#mw-recreate-deleted-warn {
	border:2px solid #2F6FAB;
	margin-bottom:3px;
	padding:3px;
}
div#mw-recreate-deleted-warn ul li {
	font-size:90%;
}
.MediaTransformError {
	background-color:#CCCCCC;
	padding:0.1em;
}
.MediaTransformError td {
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}


/*add by zhou*/
.notice{
	color:red;
}

.MainPageBG{
width:50%;vertical-align:top;color:#000;
}
.MainPageGreen{
border:1px solid #BCFF80;
background-color:#F2FFE5;
}
.MainPageBlue{
border:1px solid #B2DAFF;
background-color:#E5F2FF;
}
.MainPageBGTableGreen h2,.MainPageBGTableBlue h2{
margin:0;font-family:sans-serif;font-size:120%;font-weight:bold;text-align:left;padding:0.2em 0.4em;
border:1px solid #ccc;
}
.MainPageGreenDark{
background-color:#DCFFB2;
border:1px solid #D8FFB2;
}
.MainPageBlueDark{
background-color:#B2DAFF;
border:1px solid #B2D8FF;
}
.MainPageBGTableBlue{
vertical-align:top;background-color:#E5F2FF;
}
.MainPageBGTableGreen{
vertical-align:top;background-color:#F2FFE5;
}
